<mat-grid-list cols="1" rowHeight="100px" xmlns="http://www.w3.org/1999/html">
<mat-grid-tile [colspan]="1"[rowspan]="5">
  <div *ngIf="pokemonDataLoaded" class="parent">
    <div class="screen">
      <img src="../../assets/images/screen.png"  />
    </div>

    <span class="enemy-pokemon-text">
      {{enemyPokemonData.name}}
    </span>
    <div class="enemy-pokemon-health-bar">
      <mat-progress-bar [value]="getOwnPokemonCurrentHpAsPercentage()"></mat-progress-bar>
    </div>

    <span class="own-pokemon-text">
      {{ownPokemonData.name}}
    </span>
    <div class="own-pokemon-health-bar">
      <mat-progress-bar [value]="getEnemyPokemonCurrentHpAsPercentage()"></mat-progress-bar>
    </div>

    <div class="enemy-pokemon-sprite">

      <img [src]="this.ownPokemonData.frontSpriteUrl" width="110" height="110" >
    </div>

    <div class="own-pokemon-sprite">

      <img [src]="this.enemyPokemonData.backSpriteUrl" width="140" height="140" >
    </div>

    <div class="text-box">
      <span style="font-size: 10px">{{this.text}}</span>
    </div>
  </div>

</mat-grid-tile>
</mat-grid-list>
