
.parent {
  position: relative;
  top: 0;
  left: 0;

}

.screen {
  position: relative;
  top: 0;
  left: 0;
}

.enemy-pokemon-text {
  font-size: 12px;
  position: absolute;
  top: 180px;
  left: 380px;
}

.enemy-pokemon-health-bar {
  height: 10px;
  width: 100px;
  position: absolute;
  top: 210px;
  left: 380px;
}

.enemy-pokemon-sprite {
  position: absolute;
  top: 150px;
  left: 500px;
}

.own-pokemon-text {
  font-size: 12px;
  position: absolute;
  top: 250px;
  left: 500px;
}

.own-pokemon-health-bar {
  height: 10px;
  width: 100px;
  position: absolute;
  top: 280px;
  left: 500px;
}

.own-pokemon-sprite {
  position: absolute;
  top: 210px;
  left: 350px;
}

.text-box {

  position: absolute;
  top: 320px;
  left: 355px;
}
