/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.primaryColor {
  background-color: #E5E6EA;
}

.secondaryColor {
  background-color: #EE2C23;
}

@font-face {
  font-family: "Press Start 2P";
  src: url(src/assets/fonts/PressStart2P-Regular.ttf)
}

* {
  font-family: "Press Start 2P";
  font-size: 20px;
}
